# Email Configuration
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="Your Hotel <your-email@gmail.com>"
EMAIL_BCC="optional-bcc@gmail.com"

# Google Sheet Integration
# This URL is used for form submissions to be stored in Google Sheets
WEB_APP_SHEET_URL="https://script.google.com/macros/s/your-google-apps-script-deployment-id/exec"

# The current URL is:
# WEB_APP_SHEET_URL="https://script.google.com/macros/s/AKfycbwzptRL9JVa0DbwUbMNH_Qb7oxyfOIoOclpEhRybsI55Ts-jk-sJGPbhL5o0TAbKVCiKg/exec"
